{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Home</title>
    <!-- Foundation css -->
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <h1>Home Templates</h1>

    <!-- Anchors (links) -->
    <a href="about.html" class="button">Learn More</a>
    <a href="#features" class="button">View All Features</a>

    <!-- Buttons (actions) -->
    <button type="button" class="success button">Save</button>
    <button type="button" class="alert button">Delete</button>

    <p class="ejemplo1">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quos fuga, voluptatem totam placeat harum qui perspiciatis reprehenderit delectus quae voluptatum quam, dicta ab quas deserunt numquam nulla officia vero.
    </p>
    <p class="ejemplo2">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quos fuga, voluptatem totam placeat harum qui perspiciatis reprehenderit delectus quae voluptatum quam, dicta ab quas deserunt numquam nulla officia vero.
    </p>


    
    <!-- Foundation js -->
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>


