{% extends 'base.html' %}
{% load static %}

{% block title %}Administrar{% endblock title%}

{% block content %}
<main>
{% include "includes/header.html" %}

<div class="container">
    <div class="row">
        <h1 class="mt-3">Lista Empleados Admin</h1>

    </div>
    <div class="table-responsive mt-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Job</th>
                <th scope="col">Departamento</th>
                <th scope="col">Habilidades</th>
                <th scope="col">Completo</th>
                <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for e in object_list %}
                <tr>
                    <th scope="row">{{e.id}}</th>
                    <td>{{e.first_name}}</td>
                    <td>{{e.last_name}}</td>
                    <td>{{e.job}}</td>
                    <td>{{e.departamento.name}}</td>
                    <td>
                        <ul>
                        {% for h in e.habilidades.all %}
                            <li>{{h.habilidad}}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>{{e.full_name}}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'persona_app:empleado_update' e.id %}" class="btn btn-dark">editar</a>
                            <a href="{% url 'persona_app:empleado_delete' e.id %}" class="btn btn-danger form-control">eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- paginador -->
        {% if is_paginated %}
        <nav aria-label="Page navigation example ">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                {% endif %}
                
                {% for pagina in paginator.page_range %}   
                    {% ifequal  pagina page_obj.number %} 
                        <li class="page-item active""><a class="page-link" href="?page={{pagina}}">{{ pagina }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link dark" href="?page={{pagina}}">{{ pagina }}</a></li>
                    {% endifequal %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                {% endif %}
                
            </ul>
        </nav>
        {% endif %}
        <!-- fin paginador -->

    </div>

</div>



{% include "includes/footer.html" %}
</main>
{% endblock content%}